@model List<Host.DataModel.ActivityDto>
@{
    Layout = "_AdminLayout";
}
<style>
    #th {
        background-color: #323232;
        color: white
    }
</style>
<div class="col-xs-12">
    <div class="box col-md-12">
        <div class="box-header">
            <h3 class="box-title">Activity Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->
            <a class="btn  btn-primary " id="th" onclick='@($"window.location.href='/Company/AddActivity?stationId={@ViewBag.StationId}'")'>Add Activity</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body" >
            @Html.Hidden("stationId", (int)ViewBag.StationId)

            <table id="example2" class="table table-bordered table-hover">
                <thead id="th">
                    <tr>
                        <th>Activity Name</th>
                        <th>Description</th>
                        <th>type</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var a in Model)
                    {
                        <tr>
                            <td style="text-align:center">@a.Name</td>
                            <td style="text-align:center">@a.Description</td>
                            <td style="text-align:center">@a.Type</td>
                            <td style="text-align:center">
                                <a class="fa fa-edit " href='#' onClick='@($"window.location.href='/Company/AddActivity?stationId={ViewBag.StationId}&activityId={a.ActivityId}'")'>Edit</a>
                                <a class="fa fa-remove " href='#' onClick='@($"window.location.href='/Company/DeleteStationActivity?activityId={a.ActivityId}'")'>Delete</a>
                            </td>
                        </tr>


                    }



            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>
@section Scripts{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example2').DataTable();
        });

    </script>
}

