@model List<Host.DataModel.BranchDto>


@{
    Layout = "_AdminLayout";
}

<style>
    #th {
        background-color: #323232;
        color: white
    }
</style>
<!--
<style>
    body {
        margin: 0;
        font-family: Arial;
    }

    .top-container {
        background-color: #f1f1f1;
        padding: 30px;
        text-align: center;
    }

    .header {
        padding: 10px 16px;
        background: #555;
        color: #f1f1f1;
    }

    .content {
        padding: 16px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

        .sticky + .content {
            padding-top: 102px;
        }


</style>


<script>
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("example2");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
    -->
<style>
    #th {
        background-color: #323232;
        color: white;
        font-size: xx-small;
    }

    table {
        text-align: left !important;
        font-size: small;
    }
</style>
<div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("CompanyCreation","Company")">Company</a></li>
        <li class="active"><i class="fa fa-delicious">Branch</i></li>



    </ol>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Branch Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn btn-default btn-md  " id="th" onclick='@($"window.location.href='/Company/AddBranch?companyId={@ViewBag.CompanyId}'")'>Add Branch</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body" style="width: 100%; ">

            <table id="example2" class="table table-bordered table-hover">
                <thead id="th">
                    <tr>
                        <th>Branch Name</th>
                        <th>Company Name</th>
                        <th>Location</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Options</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td style="text-align: center">@s.Name</td>
                            <td style="text-align: center">@s.CompanyName</td>
                            <td style="text-align: center">@s.Location</td>
                            <td style="text-align: center">@s.Address</td>
                            <td style="text-align: center">@s.Phone</td>
                            <td style="text-align: center">@s.Email</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Options
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (User.IsInRole("Admin"))
    {
                                    <a class="dropdown-item fa fa-edit" href="#" onClick='@($"window.location.href='/Company/DeleteBranch?branchId={s.BranchId}&companyId={ViewBag.CompanyId}'")'>Delete</a>
                                    <div class="dropdown-divider"></div>
}

                                        <a class="dropdown-item fa fa-edit" href="#" onClick='@($"window.location.href='/Company/AddBranch?companyId={ViewBag.CompanyId}&branchId={s.BranchId}'")'>Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-location-arrow" href='#' onclick='@($"window.location.href='/Company/GetLocationById?id={s.BranchId}&companyId={ViewBag.CompanyId}'")'>Location</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-user-o" href='#' onclick='@($"window.location.href='/Company/GetBranchEmployeeByBranchId?branchId={s.BranchId}&companyId={ViewBag.CompanyId}'")'>BranchEmployee</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-user-o" href='#' onclick='@($"window.location.href='/Company/GetStationByBranchId?branchId={s.BranchId}&companyId={ViewBag.CompanyId}'")'>BranchStation</a>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-user-o" asp-action="ActivityPerfromReport" asp-route-branchId="@s.BranchId">Daily Report</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-user-o"onclick='@($"window.location.href='/Company/ObservationReportForm?branchId={s.BranchId}'")'>Observation Report</a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  
    <script>
        $(document).ready(function () {
            $('#example2').DataTable();
        });
        

       

    </script>
}

