@model List<Host.DataModel.BranchEmployeeDto>

@{
    Layout = "_AdminLayout";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Branch Employee Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn btn-default btn-md" onclick='@($"window.location.href='/Company/AddBranchEmployee?branchId={@ViewBag.BranchId}'")'>Add Branch Employee</a>

        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Branch Name</th>
                        <th>Company Name</th>
                        <th>Designation</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Options</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                    <tr>
                        <td>@s.EmployeeName</td>
                        <td>@s.BranchName</td>
                        <td>@s.CompanyName</td>
                        <td>@s.Designation</td>
                        <td>@s.Phone</td>
                        <td>@s.Email</td>
                        <td>
                            <button class="btn btn-default" onClick='@($"window.location.href='/Company/AddBranchEmployee?branchemployeeId={s.BranchEmployeeId}'")'>Edit</button>
                        </td>
                    </tr>
                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>


