@model List<Host.DataModel.BranchEmployeeDto>

@{
    Layout = "_AdminLayout";
}

<div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("CompanyCreation","Company")">Company</a></li>
        <li><a href="@Url.Action("Branch","Company")">Branch</a></li>
        <li class="active"><i class="fa fa-dashboard"></i>BranchEmployee</li>
        
    </ol>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Branch Employee Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn btn-default btn-md" onclick='@($"window.location.href='/Company/AddBranchEmployee?branchId={@ViewBag.BranchId}'")'>Add Branch Employee</a>

        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Branch Name</th>
                        <th>Company Name</th>
                        <th>Designation</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Delete</th>
                        <th>Options</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.EmployeeName</td>
                            <td>@s.BranchName</td>
                            <td>@s.CompanyName</td>
                            <td>@s.Designation</td>
                            <td>@s.Phone</td>
                            <td>@s.Email</td>
                            <td>
                                <button class="btn btn-default" onClick='DeleteBranchEmployee(@s.BranchEmployeeId,@ViewBag.BranchId)'>Delete</button>
                            </td>
                            <td>
                                <button class="btn btn-default" onClick='@($"window.location.href='/Company/AddBranchEmployee?branchId={ViewBag.BranchId}&branchemployeeId={s.BranchEmployeeId}'")'>Edit</button>
                            </td>
                        </tr>
                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<script>
    function DeleteBranchEmployee(id, branchId) 
    {
        const stationData = {};
        const headers = new Headers();
        headers.append("Accept", "application/json");
        headers.append("Content-Type", "application/json");
        fetch(`/Company/DeleteBranchEmployee/id/${id}/branchId/${branchId}`, {
            credentials: "same-origin",
            headers: headers,
            method: "Delete"
        })
            .then(function (response) {
                if (!response.ok) {
                    window.location.reload();
                    return;
                }
            })
            .catch(ex => { });
    };

</script>


