@model List<Host.DataModel.BranchEmployeeDto>

@{
    Layout = "_AdminLayout";
}

<style>
    #th {
        background-color: #323232;
        color: white
    }
</style>

<div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("CompanyCreation","Company")">Company</a></li>
        <li><a href='#' onclick='@($"window.location.href='/Company/GetBranchByCompanyId?companyId={@ViewBag.CompanyId}'")'>Branch</a></li>
        <li class="active"><i class="fa fa-user-o"></i>BranchEmployee</li>

    </ol>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Branch Employee Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn btn-default btn-md" id="th" onclick='@($"window.location.href='/Company/AddBranchEmployee?branchId={@ViewBag.BranchId}&companyId={@ViewBag.CompanyId}'")'>Add Branch Employee</a>

        </div>

        <!-- /.box-header -->
        <div class="box-body" style="width: 100%; height: 400px;">
            @Html.Hidden("companyId", (int)ViewBag.CompanyId)
            <table id="example2" class="table table-bordered table-hover ">
                <thead id="th">
                    <tr>
                        <th>Employee Name</th>
                        <th>Branch Name</th>
                        <th>Company Name</th>
                        <th>Designation</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Options</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
            {
                <tr>
                    <td>@s.EmployeeName</td>
                    <td>@s.BranchName</td>
                    <td>@s.CompanyName</td>
                    <td>@s.Designation</td>
                    <td>@s.Phone</td>
                    <td>@s.Email</td>

                    <td>
                        <a class="fa fa-edit" onClick='@($"window.location.href='/Company/AddBranchEmployee?branchId={ViewBag.BranchId}&branchemployeeId={s.BranchEmployeeId}'")'>Edit</a>

                        <a class="fa fa-remove" onClick='DeleteBranchEmployee(@s.BranchEmployeeId,@ViewBag.BranchId)'>Delete</a>
                    </td>
                </tr>
    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>
<link href="~/dist/css/font-awesome.css" rel="stylesheet" />
<script>
    function DeleteBranchEmployee(id, branchId) {
        const stationData = {};
        const headers = new Headers();
        headers.append("Accept", "application/json");
        headers.append("Content-Type", "application/json");
        fetch(`/Company/DeleteBranchEmployee/id/${id}/branchId/${branchId}`, {
            credentials: "same-origin",
            headers: headers,
            method: "Delete"
        })
            .then(function (response) {
                if (!response.ok) {
                    window.location.reload();
                    return;
                }
            })
            .catch(ex => { });
    };

</script>


@section Scripts{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example2').DataTable();
        });

    </script>
}
