@model List<Host.DataModel.CompanyDto>

@{
    Layout = "_AdminLayout";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Company Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->
            <a class="btn  btn-primary " href="@Url.Action("AddCompany", "Company")">Add</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Type</th>
                        <th>URL</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                      
                        <tr>
                            <td style="text-align: center">
                                @s.Name
                                <a class="text-primary"></a>
                            </td>
                            <td style="text-align: center">
                                @s.Type
                                <span>
                                    <i class='zmdi large-size'></i>
                                </span>
                            </td>

                            <td style="text-align: center">
                                @s.Url
                                <span>
                                    <i class='zmdi large-size'></i>
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-default" onClick='@($"window.location.href='/Company/GetCompanyById?id={s.CompanyId}'")'>Edit</button>
                            </td>
                        </tr>
                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>


