@model List<Host.DataModel.CompanyDto>

@{
    Layout = "_AdminLayout";
}

<style>
    #th {
        background-color: #323232;
        color: white
    }
</style>



<div class="col-xs-12">

    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Company</li>

    </ol>
    <div class="box">

        <div class="box-header">
            <h3 class="box-title">Company Data Table</h3></br>
            </br>


            <!-- Trigger the modal with a button -->
            <a class=" btn  btn-primary" id="th" href="@Url.Action("AddCompany", "Company")">Add Company</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <table id="table" class="table table-bordered table-hover table-striped">
                <thead id="th">
                    <tr>
                        <th>Company Name</th>
                        <th>Type</th>
                        <th>URL</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody id="example2">
                    @foreach (var s in Model)
                    {

                        <tr>
                            <td style="text-align: center">
                                @s.Name
                                <a class="text-primary"></a>
                            </td>
                            <td style="text-align: center">
                                @s.Type
                                <span>
                                    <i class='zmdi large-size'></i>
                                </span>
                            </td>

                            <td style="text-align: center">
                                @s.Url
                                <span>
                                    <i class='zmdi large-size'></i>
                                </span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Options
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item fa fa-edit" href="#" onClick='@($"window.location.href='/Company/GetCompanyById?id={s.CompanyId}'")'>&nbsp;&nbsp;&nbsp;&nbsp;Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-delicious" href='#' onclick='@($"window.location.href='/Company/GetBranchByCompanyId?companyId={s.CompanyId}'")'>&nbsp;&nbsp;&nbsp;&nbsp;Branches</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-comment-o" href='#' onclick='@($"window.location.href='/Company/GetBranchEmployeeByCompanyId?companyId={s.CompanyId}'")'>&nbsp;&nbsp;&nbsp;&nbsp;Correspondants</a>

                                    </div>
                                </div>
                            </td>
                        </tr>


                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>


@section Scripts{

    <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/e9421181788/integration/bootstrap/3/dataTables.bootstrap.css" />
    <script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>

    <script src="http://cdn.datatables.net/plug-ins/e9421181788/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        var responsiveHelper;
        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        var tableElement = $('#table');
        tableElement.dataTable({
            autoWidth: false,
            preDrawCallback: function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper) {
                    responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                }
            },
            rowCallback: function (nRow) {
                responsiveHelper.createExpandIcon(nRow);
            },
            drawCallback: function (oSettings) {
                responsiveHelper.respond();
            }
        });

        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#example2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}
