@model List<Host.DataModel.LocationDto>
@{
    Layout = "_AdminLayout";
}

<style>
    #th {
        background-color: #323232;
        color: white
    }
</style>

<div class="col-xs-12">
    <ol class="breadcrumb">


       
       

        <li><a href="@Url.Action("CompanyCreation","Company")">Company</a></li>
        <li><a href="#" onclick='@($"window.location.href='/Company/GetBranchByCompanyId?companyId={@ViewBag.CompanyId}'")'>Branch</a></li>
        <li class="active"><i class="fa fa-location-arrow"></i>LocationCreation</a></li>

    </ol>
    </div>
<div class="col-xs-12">
    <div class="box col-md-10">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Location Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->


            <a class="btn btn-default btn-md" id="th" onclick='@($"window.location.href='/Company/AddLocation?id={@ViewBag.BranchId}&companyId={@ViewBag.CompanyId}'")'>Add Location</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body" style="width: 100%; height: 400px;">
           
                @Html.Hidden("id", (int)ViewBag.BranchId)
                @Html.Hidden("companyId", (int)ViewBag.CompanyId)


                <table id="example2" class="table table-bordered table-hover">
                    <thead id="th">
                        <tr>

                            <th>Location</th>

                            <th>Options</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model)
                    {

                        <tr>
                            <td>@a.Name</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Option
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item fa fa-edit" href='#' onClick='@($"window.location.href='/Company/DeleteLocation?locationId={a.LocationId}&branchId={ViewBag.BranchId}&companyid={ViewBag.CompanyId}'")'>Delete</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-edit" href='#' onClick='@($"window.location.href='/Company/AddLocation?id={ViewBag.BranchId}&locationId={a.LocationId}&companyid={ViewBag.CompanyId}'")'>Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item fa fa-suitcase" href='#' onClick='@($"window.location.href='/Company/StationLocation?locationId={a.LocationId}&companyId={ViewBag.CompanyId}&id={ViewBag.BranchId}'")'>Stations</a>


                                    </div>
                                </div>

                            </td>
                        </tr>

                }
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>



@section Scripts{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example2').DataTable();
        });

    </script>
}
