@model List<Host.DataModel.ObservationReportDto>
@{
    ViewData["Title"] = "ObservationReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    #th {
        background-color: #323232;
        color: white;
        font-size: xx-small;
    }

    table {
        text-align: left !important;
        font-size: small;
    }
</style>

<div class="box">
    <div class="col-xs-12">
        <div>
            <div class="header">
                <a href="#default" class="logo"></a>
                <div class="header-right">
                    <img style="width:20%" src="~/images/Eco.jpg" />
                    <a class="active" style="font-size:x-large" href="#home">@ViewBag.CompanyName</a>

                    <a href="#contact" style="font-size:x-large"> @ViewBag.BranchName </a>
                </div>
            </div>
            <label> @DateTime.Now</label>
        </div>
    </div>
    <form class="form-inline">
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
            <label for="fromDate" class="mr-sm-2">Starting Date</label>
            <input id="fromDate" name="fromDate" type="date" class="form-control" value="">'
        </div><div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
            <label for="toDate" class="mr-sm-2">Ending Date</label>
            <input id="toDate" name="toDate" type="date" class="form-control" value="">
        </div>'
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
            <label for="locationDropDown" class="mr-sm-2">Location</label>
            <select id="locationDropDown" name="locationId" class="form-control"></select>
        </div>
    </form>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Observation Report</h3>
        </div>

        <!-- /.box-header -->
        <div class="box-body" style="width: 100%; ">
                <table id="example2" class="table table-bordered table-hover">
                    <thead id="th">
                        <tr>
                            <th>Observation Number</th>
                            <th>Obervation Date</th>
                            <th>Station Name</th>
                            <th>Station No</th>
                            <th>Location</th>
                            <th>Observation Description</th>
                            <th>Action On Client End</th>
                            <th>Date Of Client End</th>
                            <th>Status</th>
                            <th>Option</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model)
                        {
                            <tr>
                                <td style="text-align: center">@s.ObervationNumber</td>
                                <td style="text-align: center">@s.ObservationDate</td>
                                <td style="text-align: center">@s.StationName</td>
                                <td style="text-align: center">@s.StationNumber</td>
                                <td style="text-align: center">@s.LocationName</td>
                                <td style="text-align: center">@s.Description</td>
                                <td style="text-align: center">@s.ClientReview<input type="text" asp-for="@s.ClientReview" /></td>
                                <td style="text-align: center">@s.ClientReviewDate</td>
                                <td>
                                    <select class="form-control" placeholder="Select Business Name...">
                                        <option selected="selected">Select</option>
                                        <option>WorkDone</option>
                                        <option>WorkInProgress</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>
                                <td>
                                    <button id="btn" type="button" class="btn-primary top-right">Save</button>
                                </td>

                            </tr>



                        }
                </table>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example2').DataTable();
        });

        $(document).ready(function () {
            $('#example2').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "scripts/post.php",
                    "type": "POST"
                },
                "columns": [
                    { "data": "first_name" },
                    { "data": "last_name" },
                    { "data": "position" },
                    { "data": "office" },
                    { "data": "start_date" },
                    { "data": "salary" }
                ]
            });
        });
    </script>
}

