@using Newtonsoft.Json
@model List<Host.DataModel.StationLocationDto>
@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    #th {
        background-color: #191919;
        color: white
    }
</style>

<div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("CompanyCreation","Company")">Company</a></li>
        <li><a href="#" onclick='@($"window.location.href='/Company/GetBranchByCompanyId?companyId={@ViewBag.CompanyId}'")'>Branch</a></li>
        <li><a href="#" onclick='@($"window.location.href='/Company/GetLocationById?id={@ViewBag.BranchId}&companyId={ViewBag.CompanyId}'")'>Location</a></li>
        <li class="active"><i class="fa fa-suitcase "></i>Station Location</li>

    </ol>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Station Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn  btn-primary " style="background-color:#323232" onclick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}&branchId={ViewBag.BranchId}'")'>Add Station</a>
        </div>
        <div>
            <form id="download">
                <button type="submit" class="btn btn-primary">AllDownload</button>
            </form>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="width: 100%; height: 400px;">
            @Html.Hidden("locationId", (int)ViewBag.LocationId)
            @Html.Hidden("companyId", (int)ViewBag.CompanyId)
            @Html.Hidden("id", (int)ViewBag.BranchId)
            <table id="example2" class="table table-bordered table-hover">
                <thead id="th">
                    <tr>
                        <th>S-NO</th>
                        <th>Station</th>
                        <th>Qr Code</th>
                        <th>Options</th>

                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var s in Model)
            {
                <tr>
                    <td class="glyphicon-align-center">@s.Sno</td>
                    <td>@s.StationName</td>
                    <td id="@(s.StationLocationId)"> </td>
                    <td>
                        <a class="fa fa-download  " onClick='@($"window.location.href='/Company/Download?id={s.StationLocationId}&locationId={ViewBag.LocationId}&code={s.Code}&sno={s.Sno}'")'>Download</a>
                        <a class="fa fa-edit" href='#' onClick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}&stationlocationId={s.StationLocationId}&branchId={ViewBag.BranchId}'")'>Edit</a>
                    </td>
                </tr>
    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>
<link href="~/dist/css/font-awesome.css" rel="stylesheet" />
<!--<link href="~/dist/css/material-bootstrap-wizard.css" rel="stylesheet" />-->
<!--<script src="~/dist/js/material-bootstrap-wizard.js"></script>-->

@section script {
    <script src="~/dist/js/download.js"></script>
    <script type="text/javascript">
    var myArray = [];
    var url
    var tbody = document.getElementById("tbody");

    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    for (let m of model) {
        myArray.push({
            stationLocationId: m.StationLocationId,
            stationName: m.StationName,
            code: m.Code,
            locationId: '@ViewBag.LocationId',
            sno: m.Sno,
            locationName:""
        });
    };

        $("#download")
            .submit(function (event) {
            event.stopPropagation();
            event.preventDefault();
            const stationData = {};
            const headers = new Headers();
            headers.append("Accept", "application/pdf");
            headers.append("Content-Type", "application/json");
            fetch(`/Company/DownloadAllPdf`, {
                credentials: "same-origin",
                headers: headers,
                method: "Post",
                body: JSON.stringify(myArray)
            })
                .then(function (response) {
                    if (response.ok) {
                        response.blob()
                            .then(blob => {
                                download(blob, "abc.pdf", "application/pdf");
                            });
                    }
                })
                .catch(ex => { });
            return false;
    });


    for (let model of myArray) {
        const oImg = document.createElement("img");
        oImg.setAttribute('src', 'https://api.qrserver.com/v1/create-qr-code/?data=' + model.code + '&amp;size=50x50');
            oImg.style.width = '50px';
        oImg.style.height = '50px';
        const element = document.getElementById(String(model.stationLocationId));
        element.appendChild(oImg);
    //    var image = document.getElementById(string(model.id).oImg.setAttribute('src', 'https://api.qrserver.com/v1/create-qr-code/?data=' + model.code + '&amp;size=50x50'))
        }
    console.log(myArray);

        
   
    </script>
}

@section Scripts{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

    <script>
      
        //$(document).ready(function () {
        //    $('#example2').datatable({
        //        columndefs: [{
        //            orderable: true,
        //            classname: 'select-checkbox',
        //            targets: 0
        //        }],

        //        select: {
        //            style: 'multi',
        //            selector: 'td:first-child'
        //        },
        //        order: [[1, 'asc']]

        //    });
        //});

        $(document).ready(function () {
            $('#example2').DataTable();
        });


    </script>

}
