@using Newtonsoft.Json
@model List<Host.DataModel.StationLocationDto>
@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    #th {
        background-color: #191919;
        color: white
    }

</style>

<div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("CompanyCreation","Company")">Company</a></li>
        <li><a href="@Url.Action("Branch","Company")">Branch</a></li>
        <li><a href="@Url.Action("BranchEmployee","Company")">BranchEmployee</a></li>
        <li class="active"><i class="fa fa-dashboard"></i>Station Location</li>

    </ol>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Station Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn  btn-primary " style="background-color:#323232" onclick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}'")'>Add Station</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            @Html.Hidden("locationId", (int)ViewBag.LocationId)
            <table id="example2" class="table table-bordered table-hover">
                <thead id="th">
                    <tr>

                        <th>Station</th>
                        <th>Qr Code</th>
                        <th>Option</th>

                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.StationName</td>
                            <td id="@(s.StationLocationId)"> </td>
                            <td> <a class="btn  btn-primary glyphicon glyphicon-download " onClick='@($"window.location.href='/Company/Download?id={s.StationId}&locationId={ViewBag.LocationId}'")'>Downlaod</a></td>
                            <td><a class="btn  btn-primary glyphicon glyphicon-edit  " href='#' onClick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}&stationlocationId={s.StationLocationId}'")'>Edit</a></td>
                        </tr>
                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<script type="text/javascript">
    var myArray = [];
    var url
    var tbody = document.getElementById("tbody");

    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    for (let m of model) {
        myArray.push({
            id: m.StationLocationId,
            name: m.StationName,
            code : m.Code
        });
    }

    for (let model of myArray) {
        const oImg = document.createElement("img");
        oImg.setAttribute('src', 'https://api.qrserver.com/v1/create-qr-code/?data=' + model.code + '&amp;size=50x50');
            oImg.style.width = '50px';
        oImg.style.height = '50px';
        const element = document.getElementById(String(model.id));
            element.appendChild(oImg);
        }

    console.log(myArray);



</script>


