@{
    ViewData["Title"] = "Station";
}

<!--MainContent-->
@{
    Layout = "_AdminLayout";
}
<style>
    #th {
        background-color: #323232;
        color: white
    }
</style>


<div class="col-xs-12">
    <div class="box col-md-10">
        <div class="box-header">
            <h3 class="box-title">Station Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->
            <a class="btn btn-default btn-md " id="th" href="@Url.Action(" AddStation", "Company" )">Add Station</a>

        </div>

        <!-- /.box-header -->
        <div class="box-body" style="width: 100%; height: 400px;">
            <table id="example2" class="table table-bordered table-hover">
                <thead id="th">
                    <tr>
                        <th>Station No</th>
                        <th>Station Name</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                </thead>
                @*<tbody>
                    @foreach (var s in Model)
                    {
                    <tr>
                        <td>@s.StationId</td>
                        <td>@s.Name</td>
                        <td>@s.Description</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item fa fa-edit" href="#" onclick='@($"window.location.href='/Company/GetStationById?id={s.StationId}'")'>Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="fa fa-remove" onclick="ConfirmDelete(@s.StationId)">Delete</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href='#' onclick='@($"window.location.href='/Company/GetActivityById?stationId={s.StationId}'")'>Activities</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>*@
            </table>

            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                            <h3 class="modal-title">Delete Station</h3>
                        </div>
                        <div class="modal-body">
                            <h4>Are you sure ? You want to delete this. </h4>

                            <div style="text-align:center;display:none" id="loaderDiv">
                                <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                            <a href="#" class="btn btn-success" onclick="DeleteStation()">Confirm</a>
                        </div>

                    </div>

                </div>
            </div>
            @*@{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageNumber - 1)">
                        skip_previous
                    </a>
                    <a asp-action="Index"
                       asp-route-page="@(Model.NextPageNumber + 1)"
                       class="material-icons @nextDisabled">
                        skip_next
                    </a>
                </form>
            </nav>*@

        </div>
        <!-- /.box-body -->
    </div>
    <input type="hidden" id="hiddenStationId" />
</div>



<!--Modal-->
<!--
<form id="stationFormId">
    <div class="container">
    -->
<!-- Modal -->
<!--
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        -->
<!-- Modal content-->
<!--
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span>Station Creation</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="form-group">
                    <label for="usrname"> Station Name</label>
                    <input type="text" class="form-control" id="stationName" placeholder="Station Name">
                </div>
                <div class="form-group">
                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Description</label>
                    <input type="text" class="form-control" id="stationDescription" placeholder="Description">
                </div>

                <button type="button" onclick="postStation()" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
            </div>

        </div>

    </div>
</div>
    </div>
</form>
-->
<script src="~/dist/js/Station.js"></script>
@section Scripts{
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    var datatable;
    $(document).ready(function () {
        datatable = $('#example2').DataTable({
            ajax: {
                url: "/company/station/data",
                type: "GET",
                dataType: "json"
            },
            columns: [
                { data: "stationId", name: "stationId", autowidth: true },
                { data: "name", name: "name", autowidth: true },
                { data: "description", name: "description", autowidth: true },
                {
                    render: function (data, type, row) {
                        return `<div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item fa fa-edit" href="#" onclick="window.location.href='/Company/GetStationById?id=${row.stationId
                            }'">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="fa fa-remove" onclick="ConfirmDelete(${row.stationId})">Delete</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href='#' onclick="window.location.href='/Company/GetActivityById?stationId=${row.stationId}'">Activities</a>
                                </div>
                            </div>`;
                    }
                }
            ]
        });
    });


    var ConfirmDelete = function (StationId) {

        $("#hiddenStationId").val(StationId);
        $("#myModal").modal('show');

    }

    var DeleteStation = function () {

        $("#loaderDiv").show();

        var stationid = $("#hiddenStationId").val();

        $.ajax({

            type: "GET",
            url: "/Company/DeleteStation",
            data: { StationId: stationid },
            success: function (result) {
                datatable.ajax.reload();
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
            }

        })

    }

</script>
}
