@using Newtonsoft.Json
@model List<Host.DataModel.BranchStationLocationDto>
@{
    Layout = "_AdminLayout";
}

<style>
    #th {
        background-color: #323232;
        color: white
    }
</style>

<div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("CompanyCreation","Company")">Company</a></li>
        <li><a href="#" onclick='@($"window.location.href='/Company/GetBranchByCompanyId?companyId={@ViewBag.CompanyId}'")'>Branch</a></li>
        <li class="active"><i class="fa fa-suitcase "></i>Branch Station</li>
        
    </ol>
    <div class="box">
        @Html.Hidden("companyId", (int)ViewBag.CompanyId)
        @Html.Hidden("branchId", (int)ViewBag.BranchId)
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Branch Station Data Table</h3></br>
            </br>

            <div>
                <form id="download">
                    <button type="submit" class="btn btn-primary">AllDownload</button>
                </form>
            </div>
            <!-- Trigger the modal with a button -->
            <div>
                <button type="button" id="checkall">select/deselect</button>

            </div>


        </div>

        <!-- /.box-header -->
        <div class="box-body" style="width: 100%; height: 400px;">

            <table id="myTable" class="table table-bordered table-hover">
                <thead id="th">
                    <tr>
                        <th>Check All</th>
                        <th>S No</th>
                        <th>Station Name</th>
                        <th> Location Name</th>
                        <th> Station Number</th>
                        <th> Bar Code</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var a in Model)
                {
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>@a.Sno</td>
                        <td>@a.StationName</td>
                        <td>@a.LocationName</td>
                        <td>@a.StationLocationId</td>
                        <td id="@(a.StationLocationId)"> </td>
                        <td style="text-align:center">
                            <a class="fa fa-edit " onClick='@($"window.location.href='/Company/UpdateBranchStation?stationlocationId={a.StationLocationId}&branchId={@ViewBag.BranchId}&locationId={a.LocationId}&companyId={ViewBag.CompanyId}'")'>Edit</a>
                            <a class="fa fa-remove " onClick='@($"window.location.href='/Company/DeleteStationLocation?stationlocationId={a.StationLocationId}&branchId={@ViewBag.BranchId}&companyId={ViewBag.CompanyId}'")'>Delete</a>
                            <a class="fa fa-download" onClick='@($"window.location.href='/Company/Download?id={a.StationLocationId}&locationId={a.LocationId}&code={a.Code}&sno={a.Sno}'")'>Download</a>
                        </td>
                    </tr>

            }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/download.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#checkall').click(function () {
                var checked = $(this).prop('checked');
                $('#checkboxes').find('input:checkbox').prop('checked', checked);
            });
        })

    var myArray = [];
    var url
    var tbody = document.getElementById("tbody");

    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    for (let m of model) {
        myArray.push({
            stationLocationId: m.StationLocationId,
            stationName: m.StationName,
            code: m.Code,
            sno : m.Sno,
            locationId: m.LocationId,
            locationName:m.LocationName
        });
    };
        for (let model of myArray) {
            const oImg = document.createElement("img");
            oImg.setAttribute('src', 'https://api.qrserver.com/v1/create-qr-code/?data=' + model.code + '&amp;size=50x50');
            oImg.style.width = '50px';
            oImg.style.height = '50px';
            const element = document.getElementById(String(model.stationLocationId));
            element.appendChild(oImg);
        }

        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        $("#download")
            .submit(function (event) {
                event.stopPropagation();
                event.preventDefault();
                const stationData = {};
                const headers = new Headers();
                headers.append("Accept", "application/pdf");
                headers.append("Content-Type", "application/json");
                fetch(`/Company/DownloadAllPdf`, {
                    credentials: "same-origin",
                    headers: headers,
                    method: "Post",
                    body: JSON.stringify(myArray)
                })
                    .then(function (response) {
                        if (response.ok) {
                            response.blob()
                                .then(blob => {
                                    download(blob, "abc.pdf", "application/pdf");
                                });
                        }
                    })
                    .catch(ex => { });
                return false;
            });

    </script>
    <script>
            $(document).ready(function () {
                var t = $('#example').DataTable({
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    }],
                    "order": [[1, 'asc']]
                });

                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            });
    </script>
}