@model List<Host.DataModel.StationLocationDto>
@{
    Layout = "_AdminLayout";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Station Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn  btn-primary " onclick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}'")'>Add</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            @Html.Hidden("locationId", (int)ViewBag.LocationId)
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>

                        <th>Station</th>
                        <th>Qr Code</th>
                        <th>Option</th>

                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td id="text">@s.StationName</td>
                            <td> </td>
                            <td><a class="btn  btn-primary glyphicon glyphicon-edit " href='#' onClick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}&stationlocationId={s.StationLocationId}'")'>Edit</a></td>
                        </tr>
                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<script type="text/javascript">
    var myArray = [];
    var url
    var tbody = document.getElementById("tbody");
    const td = document.createElement("td");

    @foreach (var d in Model.Select(i => i.StationName).ToList())
    {
        @:myArray.push("@d");

    }

    for (let model of myArray) {
            const oImg = document.createElement("img");
            oImg.setAttribute('src', 'https://api.qrserver.com/v1/create-qr-code/?data=' + model + '&amp;size=50x50');
            oImg.style.width = '50px';
            oImg.style.height = '50px';
            td.appendChild(oImg);
            tbody.appendChild(td);
        }

    console.log(myArray);



</script>


