@using Newtonsoft.Json
@model List<Host.DataModel.StationLocationDto>
@{
    Layout = "_AdminLayout";
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title" style="font-family:'Times New Roman'">Station Data Table</h3></br>
            </br>
            <!-- Trigger the modal with a button -->

            <a class="btn  btn-primary " onclick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}'")'>Add Station</a>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            @Html.Hidden("locationId", (int)ViewBag.LocationId)
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>

                        <th>Station</th>
                        <th>Qr Code</th>
                        <th>Option</th>

                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.StationName</td>
                            <td id="@(s.StationLocationId)"> </td>
                            <td> <a class="btn  btn-primary glyphicon glyphicon-download" download="QrCode" />Download </td>
                            <td><a class="btn  btn-primary glyphicon glyphicon-edit " href='#' onClick='@($"window.location.href='/Company/AddStationLocation?locationId={ViewBag.LocationId}&stationlocationId={s.StationLocationId}'")'>Edit</a></td>
                        </tr>
                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<script type="text/javascript">
    var myArray = [];
    var url
    var tbody = document.getElementById("tbody");

    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    for (let m of model) {
        myArray.push({
            id: m.StationLocationId,
            name: m.StationName
        });
    }

    for (let model of myArray) {
        const oImg = document.createElement("img");
        oImg.setAttribute('src', 'https://api.qrserver.com/v1/create-qr-code/?data=' + model.name + '&amp;size=50x50');
            oImg.style.width = '50px';
        oImg.style.height = '50px';
        const element = document.getElementById(String(model.id));
            element.appendChild(oImg);
        }

    console.log(myArray);



</script>


