@model List<Host.Models.AccountViewModels.UserInfoModel>
@{
    ViewData["Title"] = "EmployeeProfile";
    Layout = "_AdminLayout";
}

<!--<div class="page-header">
    <div class="row">
        <div class="col-sm-9 col-xs-6">
            <h1>Employees</h1>
        </div>
    </div>
</div>
    -->
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Employee Data Table</h3></br>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            <a class="btn btn-xs btn-default" href="@Url.Action("NewHire","Account")">New User</a>
                        </th>
                        <th>
                            Email/Login
                        </th>
                        <th>
                            <a>Display Name</a>
                        </th>
                        <th>
                            Role Name
                        </th>
                        <th>
                            <a>Last Name</a>
                        </th>

                        <th>
                            <a>***Action***</a>
                        </th>
                    </tr>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <th></th>
                            <th>@s.Email</th>
                            <th>@s.UserName</th>
                            <th>@s.NormalizeUserName</th>
                            <th>@s.RoleName</th>
                            <th>
                                @if (s.RoleName != "Admin")
                                {
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Options
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                            <a class="dropdown-item fa fa-edit" href="#" onClick='@($"window.location.href='/Employee/UserInActive?userId={s.Id}'")'>Delete</a>
                                            <a class="dropdown-item fa fa-edit" href="#" onClick='@($"window.location.href='/Account/NewHire?UserId={s.Id}'")'>Edit</a>

                                        </div>

                                    </div>
                                }
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

